In [1]:
import pandas as pd

In [2]:
d_val = pd.read_json('df_val.json')

In [3]:
d_val.shape

(1084, 7)

In [4]:
d_val.head()

,id,context,question,answer,category,span_start,span_end
0,626qIhrr3hXbXzErP6nHf4L36,Soekarno dan Hatta selaku pimpinan PPKI serta ...,Siapa pemimpin PPKI?,Soekarno dan Ha,SPAN,0,18
1,1425958dFD204WSt04379,"Pada 24 September 2018, BTS menghadiri Pertemu...",Kapan Pertemuan Sidang Umum 2022 dilaksanakan?,None,UNANSWERABLE,-1,-1
2,2401lBblJQgObznj6i-AaGXg3644,Pada masa pemerintahan khalifah ke-3 yakni Uts...,Keputusan apakah yang diambil Utsman untuk men...,membuat sebuah mushaf standar (menyalin mushaf...,SPAN,303,424
3,1459Gtt57D0AV39kKJE2bz4b2094,Taman Lapangan Banteng merupakan taman lain ya...,Monumen apa yang ada di Taman Lapangan Banteng?,Monumen Pembebasan Irian Barat,SPAN,125,155
4,2444WhZ9ERauvkt18jQSbdFq1906,Beberapa alasan mengapa orang mengalami kesuli...,Apakah definisi budaya ?,suatu perangkat rumit nilai-nilai yang dipolar...,SPAN,147,273

In [32]:
id_problem = [
    "626qIhrr3hXbXzErP6nHf4L36",
    "15680LsRjbgzmvowhENg25lB1312",
    "1634B9b3aVWdJnidGaTwrGNb1147",
    "2505ckDNFw9yFFW5D_Zn1Sgx1768",
    "2105xNbUJilw1oNa-ZKAQAFY1492",
    "2049M8Zsa5bANZ-Ek-qAiTww1649",
    "855gdvykEbqM9ogm3UIf6ku2734",
    "629n4MrzUOTOZIvC5v-uHTs27",
    "2105j8lJG7NIdPNa-ZKAQAFY1493",
    "972wepQM0WfoPr49Ged8v0v484",
    "626sqIdy_-8ySZOwFGfvHa-38",
    "1608Cjwz1f5MVloyXDrYtYD11215",
    "1373pN1XKVEL69ZhAfqWYK6r753",
    "627AHz0UVhXk1duy-8SZw9W34"
]

In [33]:
len(id_problem)

14

## Sampling

In [59]:
sample = d_val[d_val.id == id_problem[13]]

In [60]:
sample

,id,context,question,answer,category,span_start,span_end
1047,627AHz0UVhXk1duy-8SZw9W34,Pada tanggal 14 Agustus 1945 Jepang secara res...,Apa yang dijanjikan Jepang kepada sekutu setel...,balikan kekuasaan di Indonesia ke tangan Se,SPAN,184,237

In [61]:
sample_dict = sample.to_dict(orient='records')[0]

In [62]:
sample_dict

{'id': '627AHz0UVhXk1duy-8SZw9W34',
 'context': 'Pada tanggal 14 Agustus 1945 Jepang secara resmi menyerah kepada Sekutu di kapal USS Missouri. Tentara dan Angkatan Laut Jepang masih berkuasa di Indonesia karena Jepang berjanji akan mengembalikan kekuasaan di Indonesia ke tangan Sekutu . Sutan Sjahrir, Wikana, Darwis, dan Chaerul Saleh mendengar kabar ini melalui radio BBC. Setelah mendengar desas-desus Jepang bakal bertekuk lutut, golongan muda mendesak golongan tua untuk segera memproklamasikan kemerdekaan Indonesia. Namun golongan tua tidak ingin terburu-buru. Mereka tidak menginginkan terjadinya pertumpahan darah pada saat proklamasi. Konsultasi pun dilakukan dalam bentuk rapat PPKI. Golongan muda tidak menyetujui rapat itu, mengingat PPKI adalah sebuah badan yang dibentuk oleh Jepang. Mereka menginginkan kemerdekaan atas usaha bangsa kita sendiri, bukan pemberian Jepang.',
 'question': 'Apa yang dijanjikan Jepang kepada sekutu setelah menyerah?',
 'answer': 'balikan kekuasaan di Indonesia ke tangan Se',
 'category': 'SPAN',
 'span_start': 184,
 'span_end': 237}

In [64]:
sample_dict['context'][184:237]

'mengembalikan kekuasaan di Indonesia ke tangan Sekutu'

## Correction

626qIhrr3hXbXzErP6nHf4L36

In [11]:
d_val.loc[d_val.id == id_problem[0], 'answer'] = 'Soekarno dan Hatta'

In [12]:
d_val.loc[d_val.id == id_problem[0]]

,id,context,question,answer,category,span_start,span_end
0,626qIhrr3hXbXzErP6nHf4L36,Soekarno dan Hatta selaku pimpinan PPKI serta ...,Siapa pemimpin PPKI?,Soekarno dan Hatta,SPAN,0,18

---

In [13]:
d_val.loc[d_val.id == id_problem[1], 'answer'] = 'karena dia tidak ingin memasukkan unsur komunis dalam kabinet pada waktu itu.'

---

In [14]:
d_val.loc[d_val.id == id_problem[1], 'span_start']

93    69
Name: span_start, dtype: int64

In [15]:
d_val.loc[d_val.id == id_problem[1], 'span_end']

93    145
Name: span_end, dtype: int64

---

In [16]:
d_val.loc[d_val.id == id_problem[2], 'question'] = 'Mengapa Singapura mengirimkan 3 helikopter CH-47 Chinook ke Louisiana?'

---

In [17]:
d_val.loc[d_val.id == id_problem[3], 'answer'] = 'Antara 300.000 sampai satu juta orang Indonesia'

In [18]:
d_val.loc[d_val.id == id_problem[3], 'answer']

199    Antara 300.000 sampai satu juta orang Indonesia
Name: answer, dtype: object

---

In [19]:
d_val.loc[d_val.id == id_problem[4], 'answer'] = 'karena kekurangan biaya'

---

In [20]:
d_val.loc[d_val.id == id_problem[5], 'answer'] = 'tujuh sampai delapan'

---

In [21]:
d_val.loc[d_val.id == id_problem[6], 'answer'] = 'ledakan kelahiran pascaperang diikuti dengan penurunan tingkat kelahiran'

---

In [22]:
d_val.loc[d_val.id == id_problem[7], 'answer'] = 'anggota PETA'

---

In [23]:
d_val.loc[d_val.id == id_problem[8], 'answer'] = 'Alfiah'

In [24]:
d_val.loc[d_val.id == id_problem[8], 'span_start'] = 356

In [25]:
d_val.loc[d_val.id == id_problem[8], 'span_end'] = 362

---

In [27]:
d_val.loc[d_val.id == id_problem[9], 'answer'] = 'Serma Marcus Latuperissa dan Ida Bagus Surya Tenaya'

---

In [42]:
d_val.loc[d_val.id == id_problem[10], 'answer'] = 'Marsekal Hisaichi Terauchi'

---

In [49]:
d_val.loc[d_val.id == id_problem[11], 'answer'] = 'untuk mencari lokasi strategis untuk membangun pelabuhan di mulut Selat Malaka'

---

In [57]:
d_val.loc[d_val.id == id_problem[12], 'answer'] = 'negara dengan penganut Islam terbanyak di dunia'

---

In [65]:
d_val.loc[d_val.id == id_problem[13], 'answer'] = 'mengembalikan kekuasaan di Indonesia ke tangan Sekutu'

### Save to json

In [72]:
d_val.to_json("df_val_2.json", orient='records')