In [1]:
import pandas as pd

In [2]:
d_train = pd.read_excel('msrp-train.xlsx', sheet_name=0)

In [3]:
d_test = pd.read_excel('msrp-test.xlsx', sheet_name=0)

In [5]:
d_train.head()

,Quality,#1 ID,#2 ID,#1 String,#1 Translate,#2 String,#2 Translate
0,1,702876,702977,"Amrozi accused his brother, whom he called ""th...","Amrozi menuduh saudaranya, yang dia sebut ""sak...","Referring to him as only ""the witness"", Amrozi...","Mengacu padanya hanya sebagai ""saksi"", Amrozi ..."
1,0,2108705,2108831,Yucaipa owned Dominick's before selling the ch...,Yucaipa memiliki rantai Dominick sebelum menju...,Yucaipa bought Dominick's in 1995 for $693 mil...,Yucaipa membeli Dominick pada tahun 1995 denga...
2,1,1330381,1330521,They had published an advertisement on the Int...,Mereka telah menerbitkan iklan di internet pad...,"On June 10, the ship's owners had published an...","Pada 10 Juni, pemilik kapal telah menerbitkan ..."
3,0,3344667,3344648,"Around 0335 GMT, Tab shares were up 19 cents, ...","Sekitar 0335 GMT, saham tab naik 19 sen, atau ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","Saham TAB melonjak 20 sen, atau 4,6%, untuk me..."
4,1,1236820,1236712,"The stock rose $2.11, or about 11 percent, to ...","Saham naik $ 2,11, atau sekitar 11 persen, dit...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"Saham PG&E Corp. melonjak $ 1,63 atau 8 persen..."

In [6]:
d_test.head()

,Quality,#1 ID,#2 ID,#1 String,#1 Translate,#2 String,#2 Translate
0,1.0,1089874.0,1089925.0,"PCCW's chief operating officer, Mike Butcher, ...","Chief Operating Officer PCCW, Mike Butcher, da...",Current Chief Operating Officer Mike Butcher a...,Chief Operating Officer saat ini Mike Butcher ...
1,1.0,3019446.0,3019327.0,The world's two largest automakers said their ...,Dua pembuat mobil terbesar di dunia mengatakan...,Domestic sales at both GM and No. 2 Ford Motor...,Penjualan domestik di GM dan No. 2 Ford Motor ...
2,1.0,1945605.0,1945824.0,According to the federal Centers for Disease C...,Menurut Pusat Pengendalian dan Pencegahan Peny...,The Centers for Disease Control and Prevention...,Pusat Pengendalian dan Pencegahan Penyakit men...
3,0.0,1430402.0,1430329.0,A tropical storm rapidly developed in the Gulf...,Badai tropis berkembang pesat di Teluk Meksiko...,A tropical storm rapidly developed in the Gulf...,Badai tropis berkembang pesat di Teluk Meksiko...
4,0.0,3354381.0,3354396.0,The company didn't detail the costs of the rep...,Perusahaan tidak merinci biaya penggantian dan...,But company officials expect the costs of the ...,Tetapi pejabat perusahaan mengharapkan biaya p...

In [18]:
d_all_raw = pd.concat((d_train, d_test), axis=0, ignore_index=True)

In [25]:
d_all1 = d_all_raw[['#1 String', '#1 Translate']].copy()

In [26]:
d_all2 = d_all_raw[['#2 String', '#2 Translate']].copy()

In [27]:
d_all1.rename(columns={'#1 String': 'english', '#1 Translate': 'indonesian'}, inplace=True)

In [28]:
d_all2.rename(columns={'#2 String': 'english', '#2 Translate': 'indonesian'}, inplace=True)

In [31]:
d_all = pd.concat((d_all1, d_all2), axis=0, ignore_index=True)

In [37]:
train = d_all.iloc[:int(len(d_all)*0.75)]

In [38]:
val = d_all.iloc[int(len(d_all)*0.75):]

In [39]:
train.to_csv('train.csv', index=False)

In [40]:
val.to_csv('validation.csv', index=False)